[Desktop Entry]
Type=Application
Name=Zelda Picross
Comment=Puzzle game
Exec=picross.elf
Icon=icon
Terminal=false
Categories=games;
X-OD-NeedsDownscaling=false
